body {
    font-family: 'Zilla Slab', serif;
    background-color: rgb(139, 103, 217);
    margin: 0;
    padding: 0;
}

.hero-image {
    background-image: url("Gates.jpg");
    height: 100%;
    background-position: center;
    repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
   font-family: 'Lilita One', cursive;
   color: midnightblue;
   text-align: center;
   padding: 10px;
  }

  .col-md-4 > img {
    width: 370px;
  
  }

  .col-md-4 img {
    height: 370px;
    align-content: center;
  }
.row {
    row-gap:5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.col-md-4 {
    padding: 20px;
    font-family: 'Momo Trust Display', sans-serif;
    font-size: 20px;
    text-align: center;
}